.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: right;
  padding: 10px 40px;
  z-index: 100;
  font-size: 2.2rem;
  transition: top 0.3s ease;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar li {
  color: white;
  cursor: pointer;
}

.navbar li:hover {
  color: #d76d77;
}

.navbar-hidden {
  top: -100px;
}
